<div class="breadcrumbs">
	<% if @current_folder #checking if we are under any folder %>
	<%= link_to "Home Directory", folders_path %>
	<% @current_folder.ancestors.reverse.each do |folder| %>
	» <%= link_to folder.name, public_path(folder) %>
	<% end %>
	»  <%= @current_folder.name %>
	<% else #if we are not under any folder%>
	Home Directory
	<% end %>
</div>