<div class="newfolder">
	<% if @current_folder.nil? %>
	<%= link_to "New Folder", new_folder_path unless @is_this_folder_being_shared %>
	<% else %>
	<%= link_to "New Folder", new_sub_folder_path(@current_folder) unless @is_this_folder_being_shared %>
	<% end %>
</div>
<div class="upload">
	<% if @current_folder.nil? %>
	<%= link_to "Upload Files", new_asset_path unless @is_this_folder_being_shared %>
	<% else %>
	<%= link_to "Upload Files", new_sub_asset_path(@current_folder) unless @is_this_folder_being_shared %>
	<% end %>
</div>
