<div id="new_folder_form" title="Create a new folder" style="display:none">	
	<%= form_tag folders_path do %>
	<label for="name">
		Enter the name of the new folder:
	</label>
	<br />
	<br />
	<%= text_field_tag 'name', "", :class => 'text ui-widget-content ui-corner-all'%>
	<%= hidden_field_tag "parent_id" %>
	<% end %>
</div>