<% unless user_signed_in? %>
<h1>Welcome to the IBEST FileBox</h1>
<p>
	To access your files please sign in.  This is a developing project 
  and should not be used for long term storage <i>(yet)</i>. 
</p>
<br />
<br />
<br />
<% else %>
	<%= render :partial => "shared/assets" %>
	<%= render :partial => "notification_form" %>
	<%= render :partial => "invitation_form" %>
<% end %>

