//closing the dialog box
$("#new_folder_form").dialog("close");

//making sure we don't display the flash notice more than once
$("#flash_notice").remove();

//showing a flash message
$("#container").prepend("<div id=\"flash_notice\">Successfully created the new folder</div>");