body {
	background-color: #222;
	font-family: "Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif;
	font-size: 12px;
	color: #338DCF;
	margin: 0;
}
a img {
	border: none;
}
a {
	color: #00f;
}
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

#page {
	width: 920px;
	margin: 0 auto;
	background-color: #FFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#footer {
	width: 920px;
	margin: 0 auto;
	text-align: center;
	background-color: #222;
	color: #fff;
	padding-top: 20px;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	color: #ddd;
}

#container {
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
	color: #000;
	border-top: solid 6px #666;
}
#flash_notice, #flash_error, #flash_alert {
	padding: 5px 8px;
	margin: 10px 0;
}
#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}
#flash_error, #flash_alert {
	background-color: #FCC;
	border: solid 1px #C66;
}

.fieldWithErrors {
	display: inline;
}
.error_messages {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	//font-size: 12px;
}
.error_messages h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 10px;
	//font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}
.error_messages p {
	margin: 8px 10px;
}
.error_messages ul {
	margin: 0;
}
.header_wrapper {
	width: 880px;
	padding: 20px;
	margin: 0 auto;
	overflow:hidden;
	padding:20px 0;
}
.logo a {
	color: #338DCF;
	float: left;
}
#login_user_status {
	float:right;
}
#login_user_status a {
	color: #338DCF;
	text-decoration: none;
}
#login_user_status a:hover {
	color: #000;
}

.asset_list_header, .asset_list, .asset_details {
	font-weight:bold;
	//font-size:12px;
	overflow:hidden;
	clear: both;
} 

.file_name_header, .file_name {
	width:300px;
	float:left;
	padding-left:30px;
}
.file_size_header, .file_size {
	width:75px;
	float:left;
}
.file_last_updated_header, .file_last_updated {
	width:150px;
	float:left;
}
.file_owner_header, .file_owner {
	width:150px;
	float:left;
}

.file_name_header, .file_size_header, .file_last_updated_header, .file_owner_header {
	color: #ccc;
}

.asset_list {
	padding:20px 0;
}
.asset_details_title {
	font-weight:normal;
	font-size: 15px;
	display: block;
	border:1px solid #CFEBFF;
	width: 100%;
	height: 25px;
	background-color: #EFF8FF;
	padding: 3px;
}
.asset_details {
	font-weight:normal;
	height:25px;
	line-height:25px;
	border:1px solid #FFF; 
	color:#4F4F4F;
}
.asset_details a, .asset_details a:visited {
	text-decoration:none;
	color:#1D96EF;
	//font-size:12px;
}

#menu {
	width:900px;
	padding:0;
	margin:10px auto;
	margin-bottom: 0;
	overflow:hidden;
}
#menu ul {
	padding:0;
	margin:0;
}
#menu ul li {
	list-style:none;
	float:left;
	display:block;
	margin-right:10px;
}
#menu ul li a, #menu ul li a:visited {
	display:block;
	padding:0 15px;
	line-height:25px;
	text-decoration:none;
	color:#45759F;
	background:#EFF8FF;
	border:1px solid #CFEBFF;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

#menu ul li.noticeme a, #menu ul li.noticeme a:visited {
	display:block;
	padding:0 15px;
	line-height:25px;
	text-decoration:none;
	color:#003300;
	background:#99ff99;
	border-top: 1px solid #3c3;
	border-right: 1px solid #3c3;
	border-left: 1px solid #3c3;
	border-bottom: 1px solid #CFEBFF;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

#menu ul li.bolder a, #menu ul li.bolder a:visited {
	display:block;
	padding:0 15px;
	line-height:25px;
	text-decoration:none;
	color:#fff;
	background:#369;
	border-top: 1px solid #039;
	border-right: 1px solid #039;
	border-left: 1px solid #039;
	border-bottom: 1px solid #039;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

#menu ul li a:hover, #menu ul li a:active {
	background:#DFF1FF;
	border:1px solid #AFDDFF;
}

#menu ul li.noticeme a:hover, #menu ul li.noticeme a:active {
	background:#66cc66;
	border-top: 1px solid #1a1;
	border-right: 1px solid #1a1;
	border-left: 1px solid #1a1;
	border-bottom: 1px solid #AFDDFF;
}

#menu ul li.bolder a:hover, #menu ul li.bolder a:active {
	background:#036;
	border-top: 1px solid #039;
	border-right: 1px solid #039;
	border-left: 1px solid #039;
	border-bottom: 1px solid #039;
}

#menu ul li a:hover, #menu ul li a:active {
	background:#DFF1FF;
	border:1px solid #AFDDFF;
}

.file {
	background:url("../images/file.png") no-repeat scroll left center transparent;
}
.file.asset_details:hover {
	background:url("../images/file.png") no-repeat scroll left center #DFF1FF;
}

.folder {
	background:url("../images/folder.png") no-repeat scroll left center transparent;
}
.folder.asset_details:hover {
	background:url("../images/folder.png") no-repeat scroll left center #DFF1FF;
}

.folder_documents {
	background:url("../images/folder_documents.png") no-repeat scroll left center transparent;
}
.folder_documents.asset_details:hover {
	background:url("../images/folder_documents.png") no-repeat scroll left #DFF1FF;
}

.shared_folder {
	background:url("../images/folder_shared.png") no-repeat scroll left center transparent;
}
.shared_folder.asset_details:hover {
	background:url("../images/folder_shared.png") no-repeat scroll left center #DFF1FF;
}

.folder.asset_details:hover, .shared_folder.asset_details:hover, .file.asset_details:hover, .folder_documents.asset_details:hover {
	border:1px solid #DFDFDF;
}

#breadcrumbs {
	display: block;
	background-color: #111;
	padding: 7px 20px;
	font-weight:bold;
	color: #AAA;
	border-top: solid 6px #666;
}
#breadcrumbs a {
	color:#1D96EF;
	text-decoration:none;
}

.actions {
	float:right;
	font-size:11px;
}

.ui-button-text-only .ui-button-text {
	//font-size: 14px ;
	padding: 3px 10px !important;
}

#invitation_form{
	//font-size:14px;
}
#invitation_form label{
	font-weight:bold;
}
#invitation_form input.text {
	width:480px;
	height:20px;
	//font-size:12px;
	color:#7F7F7F;	
}
#invitation_form textarea {
	width:480px;
	height:100px;
	//font-size:12px;
	color:#7F7F7F;
}

#notification_form{
	//font-size:14px;
}
#notification_form label{
	font-weight:bold;
}
#notification_form input.text {
	width:480px;
	height:20px;
	//font-size:12px;
	color:#7F7F7F;	
}
#notification_form textarea {
	width:480px;
	height:100px;
	//font-size:12px;
	color:#7F7F7F;
}

.file_upload_status_success {
	color: green;
}

.file_upload_status_error {
	color: red;
}

.empty {
	color: #AAA;
	margin-left: 20px;
}

.hidden {
	display: none;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear {
	clear: both;
}

a.share,
a.sharebutton,
a.setprivatebutton,
a.setpublicbutton,
a.editbutton,
a.notify,
a.notifybutton,
a.downloadbutton,
a.deletebutton {
	margin-top: -10px; font-size: 10px; !important
}

#buttonhelp {
	background-color: #ddd; 
	padding: 5px; 
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	margin-top: 30px; 
	display:block;
	font-size: 11px;
	color: #666;
	opacity:0.8;
	filter:alpha(opacity=80);
}

#buttonhelp h4 {
	font-size: 13px;
	font-weight:bold;
}

#buttonhelp td {
	padding: 4px;
}


