<div class="asset_list_header">
	<div class="file_name_header">
		File Name
	</div>
	<% if @public_view %>
	<div class="file_owner_header">
    Owner
	</div>
	<% end %>
	<div class="file_size_header">
		Size
	</div>
	<div class="file_last_updated_header">
		Modified
	</div>
</div>