<% if user_signed_in? %>
<div id="menu">
	<ul id="top_menu">
		<% if @current_folder %>
		<li>
			<%= link_to "New Folder", new_sub_folder_path(@current_folder) %>
		</li>
		<li>
			<%= link_to "Upload File", new_sub_file_path(@current_folder) %>
		</li>
		<% else %>
		<li>
			<%= link_to "New Folder", new_folder_path %>
		</li>
		<li>
			<%= link_to "Upload File", new_asset_path %>
		</li>
		<% end %>
	</ul>
</div> 
<% end %>