<%= render :partial => "shared/list_header" %>

<div class="asset_list">
	<% if @folders.empty? %>
	  <p class="empty"><i>None</i></p>
	<% else %>
	<% @public_folders.each do |public_folder| %>
		<%= render :partial => "shared/folder_details", :locals => { :folder => public_folder.folder, :descend => public_folder_path(public_folder.folder) } %>
	<% end %>
	<% end %>
</div>
